* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
    background-color: #82a5ba;
}

body {
    background-repeat: no-repeat;
    background-size: 130%;
}

#principal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#principal section {
    margin: 10px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
    width: 28%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

#principal section div {
    text-align: center;
}

header {
    height: 100px;
}

li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
}

li:last-child {
    margin-right: 0;
}

li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

li:hover:after {
    width: 100%;
    background: rgb(75, 75, 204);
}

#main-nav ul {
    margin-top: 0px;
    padding: 40px;
}

#main-nav ul li a {
    text-decoration: none;
}

.divform {
    height: 250px;
}

section:target {
    padding-top: 150px;
}

h1 {
    color: rgb(20, 48, 141);
    margin-top: 5px;
    font-size: 35px;
    text-align: center;
}

a {
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    font-size: 25px;
    text-decoration: none;
    margin-top: 20px;
    padding-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

img {
    width: 450px;
}

label {
    font-size: 15px;
}

input {
    width: 250px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
}

select {
    background-color: white;
    margin-bottom: 75px;
}

form {
    color: Black;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    table-layout: fixed;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
}

th {
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.centraliza {
    display: block;
    margin: auto;
}

@media screen and (max-width: 1330px) {
    #section_fila {
        flex-grow: 2;
    }
    #section_pessoas {
        flex-grow: 2;
    }
    #section_atendimento {
        flex-grow: 4;
    }
}