* {
    color: black;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui;
}

.result {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.maindomain {
    border-radius: 20px;
    width: 600px;
    height: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.principal {
    display: flex;
    background-color: #0ACBAB;
}

.principal div {
    flex-direction: column;
}

button {
    background-color: #0ACBAB;
    font-size: 17px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-left: 35px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
}

h1 {
    color: rgb(20, 48, 141);
    margin-top: 5px;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: #0ACBAB;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    font-size: 25px;
    background-color: #bbbbbb;
    text-decoration: none;
    margin-top: 20px;
    padding-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

img {
    width: 450px;
}

label {
    color: #706565;
    font-size: 15px;
}

input {
    text-align: center;
    background-color: #FAF9C1;
    width: 250px;
    height: 35px;
    margin-top: 20px;
    border-radius: 10px;
}

::placeholder {
    color: #706565;
    text-transform: uppercase;
}

body {
    margin-left: auto;
    margin-right: auto;
    background-color: #acacac;
    background-repeat: no-repeat;
    background-size: 130%;
    height: 500px;
}

form {
    text-align: center;
    color: white;
}

#addpeso {
    margin-left: 10px;
}

.container {
    border-radius: 20px;
    width: 600px;
    height: 565px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.result {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border: 1px solid black;
}

td {
    text-align: center;
}